// Place all the styles related to the creatures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
	max-height: 70px;
	margin: 0;
	
}

.navbar{
	margin: 0;
	background-color: #251605;
	border-width: 0;
	

}

a {

	color: black;

}

#logo {
	

}
body{
	background-color: #172815;

}
p {
color: black
}

h2, h3{ 
color: black;
text-align: center
}